body {
  margin: 3.5em 0 0 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.5em;
  background-color: white;
  font-weight: bold;
  padding: 1em;
  box-sizing: border-box;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 0.8em;
  margin: 0 0.4em;
}

.logo-header {
  display: flex;
  align-items: center;
}

.logo-header img {
  width: 2em;
  height: 2em;
}

.logo-header span {
  margin: 0 1em;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../images/banner.png');
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 16em;
}

.title img {
  margin-top: 2em;
  width: 6em;
  height: 6em;
}

.title .name {
  margin-top: 0.3em;
  font-size: 2em;
  line-height: 1em;
}

.title .description {
  font-size: 0.8em;
}

.title span {
  color: white;
}

button {
  margin-top: 1em;
  padding: 0.6em;
  background: transparent;
  color: white;
  border-radius: 5px;
}

.advantages {
  display: flex;
  justify-content: center;
}

.advantages article {
  margin: 1.5em 1em;
  width: 22%;
}

.advantages p {
  font-size: 0.67em;
}

.imgtext {
  display: flex;
  justify-content: center;
}

.imgtext article {
  margin: 1.5em 1em;
  width: 30%;
}

.imgtext img {
  margin: 2.5em 4em;
  width: 22%;
}

.imgtext p {
  font-size: 0.67em;
}
